//registry.npmjs.org/:_authToken=a3f2c7e0-5afb-4448-a2c0-f56bf7149cf7
//npm.pkg.github.com/:_authToken=3785fb10748b6ec45a180a922cc56f8294998ba4

init.author.name=Ozan Gökhan Hergül
init.author.email=ozan@malliq.com